*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir,sans-serif;
}
main {
  min-width: 1140px;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*  ------------- menu -------------- */
.navbar{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 60px;
    position: sticky;
       
}
.toggle-btn{
  width: 35px;
  position: absolute;
  right: 70px;
  top: 35px;
  display: none;

}
.toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
  float: left;
  margin-bottom: 8px;
  
}


.menu {

display: flex;   
gap: 1em;    
font-size: 18px;  
}
.menu a:hover{
    
    border-bottom: 2px solid #F1948A;
    transition: 0.3s ease;
}

.navbar li{
padding-top: 1.0px;
margin: 20px;
text-align: center;
margin-right: 50px;
}
.navbar ul::after{
    content: "";
    display: table;
    clear: both;

}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
}
.navbar .logo{
    padding: 10px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

/*  ------------- menu -------------- */


/*  ------------- accueil -------------- */
.title-header{

    width: 100%;
    position: relative;
}
.picture{
    height: calc(100vh - 84px);
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}
.infos{
position: absolute;
top: 150px;
left: 200px;
width: 60%;


}
.infos2{
font-size: 60px;
color: #fff;
line-height: normal;
width: 60%;
}
.infos1{
   
    position: absolute;
    color: #fff;
    left: 200px;
    line-height: 10%;
}
.btn1{
    position: absolute;
    left: 200px;
    top: 500px;
    height: 43px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
}
.btn2{
    position: absolute;
    left: 401px;
    top: 500px;
    height: 43px;
    width: 150px;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
/*  ------------- accueil -------------- */



/*  ------------- section partenaire -------------- */
.partenaire{
    padding: 2%;
    text-align: center;
}
.card-partenaire{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    background-color: #F1948A;  
}
.nospart{
    padding: 2%;
    font-weight: bold;
}
.sous{
    display:block;
    float: left;
    padding: 2%;
    margin: 1.5%;
    color: #fff;
    font-size: 20px;
    width: 15%;
    font-weight: bold;

}
.img-partenaire{
    width: 150px;
    height: 70px;
    
}
.imgPar{
    padding: 5%;
    display: flex;  
    justify-content: space-between;


}
/*  ------------- Fin section partenaire -------------- */

/*  ------------- section service -------------- */
.produit{
    padding: 5%;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #fff; 
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
    padding: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #F1948A;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card-div{
    
    padding: 10px;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
   
  
  }
  .assure{
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  .btn-assure{
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
  }
  .btn0{
    width: 300px;
    height: 60px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
   
  }
  /*  ------------- Fin section service -------------- */

  /*  ------------- section avantage -------------- */

  .avantage{
    width: 100%;
    height: 1000px;
    background-color: #F1948A;
    border-top-left-radius: 100px;
    clip-path: polygon(0 94%, 0 16%, 100% 0, 100% 100%);
    
  }
  .img_1{
    
    width: 300px;
    height: 300px;
    top: 2300px;
    position: absolute;
    left: 600px;
    border-radius: 50px;
  }
  .img_2{
    padding: 60px;
    width: 300px;
    height: 300px;
    top: 2600px;
    position: absolute;
    left: 1200px;
    border-radius: 100px;

  }
  .text1{
    
    top: 2300px;
    position: absolute;
    left: 950px;
    width: 600px;
  }
  .text2{
    padding: 60px;
    top: 2600px;
    position: absolute;
    left:600px;
    width: 500px;
    color: #fff;
  }
  .t1{
    padding: 20px;

  }
 
  .avant{
    font-size: 20px;
    color: #fff;
  }
  .garant{
    font-size: 40px;
    color: #fff;
  }
  .nous{
    font-size: 15px;
    color: #fff;
  }
  .like{
    padding: 10px;
    line-height: 10px;
    color: #fff;
    font-size: 20px;
  }
  .icon{
    border-spacing: 5 px;
    color: rgb(0, 0, 0);
  }
  /*  ------------- Fin section avantage -------------- */

 /* ------------- section processus------------- */
  .processus{
    padding: 5%;
    
  }
  .notre{
    padding: 50px;
    margin-left: 50px;
    width: 500px;
  }
  .etape3{
    font-weight: bold;
  }
.card-processus{
    /* padding: 10px; */
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px; */
    margin-left: auto;
    margin-right: auto;
  }
  .card-etape {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    
  }
  .etape {
    color: grey;
    font-size: 22px;
    padding: 20px;
  }
  .btn-car{
     font-size: 30px;
     position:absolute;
    bottom:10px;
    left: 50%;
    right: 50%;
  }
 /* -------------Fin section processus------------- */

 /* ---------------section appel--------- */
 .appel{
    padding: 10%;
    position: relative;
 }
 .appel-G{
    display: flex;
    justify-content: end;
    margin-right: 40px;
 }
 .msg-appel{
    padding-top: 3%;
    text-align: center;
    width: 30%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    

 }
 .img-joie{
    width: 300px;
    height: 250px;
 }
 .btnA{
    width: 300px;
    height: 40px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
 }
/* ----------Fin secttion appel------------- */

 /* Début section footer */

 .footer1{
    width: 100%;
    height: 200px;
    background-color: #F1948A;
    display: flex;
    justify-content:space-around;
    align-items: center     ;
 }

 .imglog{
    padding-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
 }
.footerBg{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: black;
}
.copi{
   
    color: #fff;
}

@media only screen  and (max-width: 1520px) {

   

   .img_1{
    
    width: 300px;
    height: 300px;
    top: 2100px;
    position: absolute;
    left: 300px;
    border-radius: 50px;
  }
  .text1{
    
    top: 2100px;
    position: absolute;
    left: 650px;
    width: 600px;
  }
  .icon{
    border-spacing: 5 px;
    color: rgb(0, 0, 0);
  }
  .img_2{
    padding: 60px;
    width: 300px;
    height: 300px;
    top: 2350px;
    position: absolute;
    left: 900px;
    border-radius: 100px;

  }
  .text2{
    padding: 60px;
    top: 2500px;
    position: absolute;
    left:200px;
    width: 40%;
    color: #fff;
  }
  /* .infos{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 60%;
    
    
    } */
    .infos2{
    font-size: 60px;
    color: #fff;
    line-height: normal;
    width: 100%;
    }
    .infos1{
       
        position: absolute;
        color: #fff;
        left: 200px;
        line-height: 10%;
    }
    
  }
  @media screen and (min-width: 400px) and (max-width: 1288px) {

   .img_1{
    
    width: 200px;
    height: 200px;
    top: 2100px;
    position: absolute;
    left: 300px;
    border-radius:20px;
  }
  .text1{
    
    top: 2100px;
    position: absolute;
    left: 650px;
    width: 500px;
  }
  .img_2{
  
    width: 200px;
    height: 200px;
    top: 2400px;
    position: absolute;
    left: 700px;
    border-radius:20px;
    border-radius:20px;

  }
  .text2{
    padding: 60px;
    top: 2400px;
    position: absolute;
    left:200px;
    width: 32%;
    color: #fff;
  }

  .appel{
    padding: 10%;
    position: relative;
 }
 .appel-G{
    display: flex;
    justify-content: end;
    margin-right: 40px;
 }
 .msg-appel{
    padding-top: 3%;
    text-align: center;
    width: 40%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    

 }
 .img-joie{
    width: 300px;
    height: 230px;
 }
 .btnA{
    width: 300px;
    height: 40px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
 }
    
    
  }
  @media only screen and (max-width:516px){



  }
  @media screen and (max-width:1000px){
    main{
      width: 991px;
    }
   section{
    width: 100vh;
   }
   .menu {

    display: flex;   
    gap: 1em;    
    font-size: 18px;  
    }
    .menu a:hover{
        
      border-bottom: 2px solid #F1948A;
      transition: 0.3s ease;
    }
    
    .navbar li{
    padding-top: 1.0px;
    margin: 20px;
    text-align: center;
    margin-right: 70px;
    }
    .navbar ul::after{
        content: "";
        display: table;
        clear: both;
    
    }
   
    header{
      width: 100%;
    }
    .picture{
      width: 100vh;
    }
    img{
      height: 90%;
      width: 105%;
  }
    
  
      .title-header{

        width: 100vh;
        position: relative;
    }
    .icon{
      border-spacing: 5 px;
      color: rgb(0, 0, 0);
    }
    .infos2{
      font-size: 40px;
      color: #fff;
      line-height: normal;
      width: 80%;
      }
      .infos1{
         
          position: absolute;
          color: #fff;
          left: 200px;
          line-height: 10%;
      }
      .partenaire{
        text-align: center;
        width:100%;
    }
    .card-partenaire{
      width: 50%;
      height: 150px;
      background-color: #F1948A;  
  }
  .avantage{
    width: 100vh;
  }
  .text1{

    top: 2100px;
    position: absolute;
    left: 550px;
    width: 400px;
  }
  main{}
  }